[submodule "common/.vim/bundle/command-t"]
	path = common/.vim/bundle/command-t
	url = git@github.com:wincent/Command-T.git
[submodule "common/.vim/bundle/vimclojure"]
	path = common/.vim/bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "common/.vim/bundle/supertab-continued"]
	path = common/.vim/bundle/supertab-continued
	url = git://github.com/vim-scripts/SuperTab-continued..git
[submodule "common/.vim/bundle/tlib_vim"]
	path = common/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "common/.vim/bundle/vim-addon-mw-utils"]
	path = common/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "common/.vim/bundle/vim-endwise"]
	path = common/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "common/.vim/bundle/swap_parameters.vim"]
	path = common/.vim/bundle/swap_parameters.vim
	url = https://github.com/vim-scripts/swap-parameters.git
[submodule "common/.vim/bundle/nerdcommenter"]
	path = common/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "common/.vim/bundle/vim-fugitive"]
	path = common/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "common/.vim/bundle/vim-slim"]
	path = common/.vim/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "common/.vim/bundle/zoom.vim"]
	path = common/.vim/bundle/zoom.vim
	url = https://github.com/vim-scripts/zoom.vim.git
[submodule "common/.vim/bundle/vim-coffee-script"]
	path = common/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "common/.vim/bundle/vim-rails"]
	path = common/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "common/.vim/bundle/ack.vim"]
	path = common/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "common/.vim/bundle/closetag.vim"]
	path = common/.vim/bundle/closetag.vim
	url = git://github.com/docunext/closetag.vim.git
[submodule "common/.vim/bundle/vim-colors-solarized"]
	path = common/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "common/.vim/bundle/surround.vim"]
	path = common/.vim/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "common/.vim/bundle/vim-repeat"]
	path = common/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "common/.vim/bundle/vim-css-color"]
	path = common/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "common/.vim/bundle/vim-javascript"]
	path = common/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "common/.vim/bundle/vim-ragtag"]
	path = common/.vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "common/.vim/bundle/vim-pandoc"]
	path = common/.vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "common/.vim/bundle/vim-cucumber"]
	path = common/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "common/.vim/bundle/tabular"]
	path = common/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "common/.vim/bundle/ZoomWin"]
	path = common/.vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "common/.vim/bundle/arduino-syntax-file"]
	path = common/.vim/bundle/arduino-syntax-file
	url = /Users/anthonypanozzo/Documents/dev/awesomecontroller/awesome_controller/Arduino-syntax-file
[submodule "common/.vim/bundle/Arduino-syntax-file"]
	path = common/.vim/bundle/Arduino-syntax-file
	url = https://github.com/AwesomeController/Arduino-syntax-file.git
[submodule "common/.vim/bundle/vim-web-indent"]
	path = common/.vim/bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "common/.vim/bundle/jslint.vim"]
	path = common/.vim/bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "common/.vim/bundle/vim-css3-syntax"]
	path = common/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "common/.vim/bundle/numbers.vim"]
	path = common/.vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "common/.vim/bundle/vim-haml"]
	path = common/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "common/.vim/bundle/html5-syntax.vim"]
	path = common/.vim/bundle/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "common/.vim/bundle/vim-better-css-indent"]
	path = common/.vim/bundle/vim-better-css-indent
	url = https://github.com/miripiruni/vim-better-css-indent.git
[submodule "common/.vim/bundle/vim-abolish"]
	path = common/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "common/.vim/bundle/jekyll.vim"]
	path = common/.vim/bundle/jekyll.vim
	url = https://github.com/csexton/jekyll.vim.git
[submodule "common/.vim/bundle/vim-markdown"]
	path = common/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "common/.vim/bundle/vim-rvm"]
	path = common/.vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "common/.vim/bundle/vim-speeddating"]
	path = common/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "common/.vim/bundle/vim-eunuch"]
	path = common/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "common/.vim/bundle/netrw"]
	path = common/.vim/bundle/netrw
	url = https://github.com/ryan-cf/netrw.git
[submodule "common/.vim/bundle/vim-ruby"]
	path = common/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "common/.vim/bundle/file-line"]
	path = common/.vim/bundle/file-line
	url = https://github.com/bogado/file-line.git
[submodule "common/.vim/bundle/vim-snipmate"]
	path = common/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "common/.vim/bundle/snipmate-snippets"]
	path = common/.vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "common/.vim/bundle/vim-powerline"]
	path = common/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "common/.vim/bundle/vim-less"]
	path = common/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "common/.vim/bundle/vim-signature"]
	path = common/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "common/.vim/bundle/destroy-all-software-vim-theme"]
	path = common/.vim/bundle/destroy-all-software-vim-theme
	url = https://github.com/partkyle/destroy-all-software-vim-theme.git
[submodule "common/.vim/bundle/vimroom"]
	path = common/.vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "common/.vim/bundle/nerdtree"]
	path = common/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "common/.vim/bundle/lusty"]
	path = common/.vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "common/.vim/bundle/TuttiColori-Colorscheme"]
	path = common/.vim/bundle/TuttiColori-Colorscheme
	url = https://github.com/vim-scripts/TuttiColori-Colorscheme.git
[submodule "common/.vim/bundle/ctrlp.vim"]
	path = common/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
