[submodule "common/.vim/bundle/command-t"]
	path = common/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "common/.vim/bundle/vimclojure"]
	path = common/.vim/bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
