[submodule "common/open_source/js-beautify"]
	path = common/open_source/js-beautify
	url = https://github.com/einars/js-beautify
[submodule "common/.vim/bundle/Command-T"]
	path = common/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "common/.vim/bundle/vim-file-line"]
	path = common/.vim/bundle/vim-file-line
	url = https://github.com/avakhov/vim-file-line.git
[submodule "common/.vim/bundle/html5-syntax.vim"]
	path = common/.vim/bundle/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "common/.vim/bundle/nerdcommenter"]
	path = common/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "common/.vim/bundle/netrw"]
	path = common/.vim/bundle/netrw
	url = https://github.com/eiginn/netrw.git
[submodule "common/.vim/bundle/scss-syntax.vim"]
	path = common/.vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "common/.vim/bundle/SuperTab-continued."]
	path = common/.vim/bundle/SuperTab-continued.
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "common/.vim/bundle/vim-surround"]
	path = common/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "common/.vim/bundle/tabular"]
	path = common/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "common/.vim/bundle/vim-endwise"]
	path = common/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "common/.vim/bundle/vim-fugitive"]
	path = common/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "common/.vim/bundle/vim-markdown"]
	path = common/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "common/.vim/bundle/vim-rails"]
	path = common/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "common/.vim/bundle/vim-haml"]
	path = common/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "common/.vim/bundle/vim-cucumber"]
	path = common/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "common/.vim/bundle/vim-speeddating"]
	path = common/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "common/.vim/bundle/vim-abolish"]
	path = common/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "common/.vim/bundle/vim-repeat"]
	path = common/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "common/.vim/bundle/vim-ruby"]
	path = common/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "common/.vim/bundle/vim-signature"]
	path = common/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "common/.vim/bundle/vim-css3-syntax"]
	path = common/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "common/.vim/bundle/vim-css-color"]
	path = common/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "common/.vim/bundle/vim-coffee-script"]
	path = common/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "common/.vim/bundle/vim-scala"]
	path = common/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "common/.vim/bundle/Vim-R-plugin"]
	path = common/.vim/bundle/Vim-R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule "common/.vim/bundle/LanguageTool"]
	path = common/.vim/bundle/LanguageTool
	url = https://github.com/vim-scripts/LanguageTool.git
[submodule "common/.vim/bundle/vim-markdown-folding"]
	path = common/.vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "common/.vim/bundle/YankRing.vim"]
	path = common/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "common/.vim/bundle/vim-autocorrect"]
	path = common/.vim/bundle/vim-autocorrect
	url = https://github.com/panozzaj/vim-autocorrect.git
[submodule "common/.vim/bundle/vim-eco"]
	path = common/.vim/bundle/vim-eco
	url = https://github.com/AndrewRadev/vim-eco.git
[submodule "common/.vim/bundle/vim-online-thesaurus"]
	path = common/.vim/bundle/vim-online-thesaurus
	url = https://github.com/beloglazov/vim-online-thesaurus.git
[submodule "common/.vim/bundle/colorschemes/grb256"]
	path = common/.vim/bundle/colorschemes/grb256
	url = https://github.com/m-martinez/grb256.git
[submodule "common/.vim/bundle/colorschemes/ir_black"]
	path = common/.vim/bundle/colorschemes/ir_black
	url = https://github.com/twerth/ir_black.git
[submodule "common/.vim/bundle/colorschemes/vim-detailed"]
	path = common/.vim/bundle/colorschemes/vim-detailed
	url = https://github.com/rking/vim-detailed.git
[submodule "common/.vim/bundle/colorschemes/jellybeans.vim"]
	path = common/.vim/bundle/colorschemes/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "common/.vim/bundle/colorschemes/vim-github-colorscheme"]
	path = common/.vim/bundle/colorschemes/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "common/.vim/bundle/colorschemes/proton"]
	path = common/.vim/bundle/colorschemes/proton
	url = https://github.com/vim-scripts/proton.git
[submodule "common/.vim/bundle/colorschemes/mayansmoke"]
	path = common/.vim/bundle/colorschemes/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke.git
[submodule "common/.vim/bundle/colorschemes/molokai"]
	path = common/.vim/bundle/colorschemes/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "common/.vim/bundle/colorschemes/base16-vim"]
	path = common/.vim/bundle/colorschemes/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "common/.vim/bundle/colorschemes/vim-lucius"]
	path = common/.vim/bundle/colorschemes/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "common/.vim/bundle/colorschemes/jellyx.vim"]
	path = common/.vim/bundle/colorschemes/jellyx.vim
	url = https://github.com/guns/jellyx.vim.git
