[alias]
        ad = add
        add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
        alias = !git aliases
        aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort
        amend = commit --amend
        amend-nc = commit --amend -C HEAD # amend without comment
        ca = commit -a
        cam = commit -am
        cp = cherry-pick
        co = checkout
        com = commit
        comm = commit -m
        edit-unmerged = !git-edit-unmerged
        exclude = !([ ! -e .git/info/exclude ] && touch .git/info/exclude) | echo $2 >> .git/info/exclude
        ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $2 >> .gitignore
        local-ignore = !([ ! -e .git/info/exclude ] && touch .git/info/exclude) | echo $2 >> .git/info/exclude
        man = help
        modified = ! git status --porcelain | cut -d ' ' -f 3
        modified-but-not-deleted = ! git status --porcelain | egrep -v ' D' | cut -d ' ' -f 3
        pick = cherry-pick
        pop = stash pop
        praise = blame
        #remove-merged-remotes = !git-remove-merged-remotes
        remove-merged-locals = !(git branch --merged | grep -v "\\*" | xargs -n 2 git branch -d)
        sub = submodule
[branch]
        autosetupmerge = true
[color]
        ui = auto
        interactive = auto
[core]
        excludesfile = ~/.cvsignore
[diff]
        renames = copies
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[github]
        user = panozzaj
[init]
        templatedir = ~/conf/common/git_templates
[merge]
        stat = true
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[push]
        default = tracking
[rerere]
        enabled = 1
[user]
        name = Anthony Panozzo
        email = panozzaj@gmail.com
