[color]
        ui = auto
        interactive = auto
[user]
	name = Anthony Panozzo
	email = panozzaj@gmail.com
[core]
	excludesfile = /Users/anthonypanozzo/.gitignore
[alias]
        ad = add
        add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
        aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort
        amend = commit --amend
        amend-nc = commit --amend -C HEAD # amend without comment
        ca = commit -a
        cam = commit -am
        co = checkout
        com = commit
        comm = commit -m
        edit-unmerged = !git-edit-unmerged
        exclude = !([ ! -e .git/info/exclude ] && touch .git/info/exclude) | echo $2 >> .git/info/exclude
        ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $2 >> .gitignore
        local-ignore = !([ ! -e .git/info/exclude ] && touch .git/info/exclude) | echo $2 >> .git/info/exclude
        man = help
        pick = cherry-pick
        pop = stash pop
        praise = blame
        sub = submodule
[rerere]
        enabled = 1
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
        autosetupmerge = true
[push]
	default = tracking
[github]
	user = panozzaj
