snippet logd "Logger.debug"
Logger.debug "$1"
endsnippet

snippet ldv "Logger.debug, verbose"
Logger.debug "$1: #{${1}}"
endsnippet

snippet logdv "Logger.debug, verbose"
Logger.debug "$1: #{${1}}"
endsnippet
