snippet pv
print(f'$1: {${1}}')
endsnippet

snippet pdb
import pdb; pdb.set_trace()
endsnippet

snippet pry
import pdb; pdb.set_trace()
endsnippet

snippet definit
def __init__(self):
endsnippet

snippet __i
def __init__(self):
endsnippet
